body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Barlow';
    font-size: 12pt;
    -webkit-font-smoothing: antialiased
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24pt;
    font-family: 'Barlow', sans-serif;
}

p {
    /* font-size: 1.3em; */
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

nav {
    width: 100%;
    font-size: 12pt;
    font-family: 'Barlow';
    font-weight: normal;
    position: relative;
}

.navbar a {
    display: inline;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar a:hover {
    color: black;
    text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 14pt;
}

.f_navbar {
    padding-left: 5px
}

.f_navbar a {
    display: inline;
    text-decoration: none;
    padding: 5px 5px;
}

/* Responsive navbar */

.navbar {
    overflow: hidden;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* end responsive navbar */

/* favicons colours */

.favicon {
    color: #d5d5d5;
    font-size: 16pt;
}

.favicon:hover {
    text-decoration: none;
}

.fa, .ai {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-github:hover {
    color: #333;
}

.fa-envelope-o:hover {
    color: black;
}

.fa-linkedin-square:hover {
    color: #0073a4;
}

.fa-twitter-square:hover {
    color: #55acee;
}

.fa-instagram:hover {
    color: #e1306c;
}

.fa-behance-square:hover {
    color: #1769ff;
}

.ai-inspire-square:hover {
    color: #69c;
}

.ai-arxiv-square:hover {
    color: #b31b1b;
}

/* favicon colours end */

/* page title */

.centredLine {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
    margin-right: 10%;
}

.pageTitle {
    text-align: right;
    padding: 0;
    position: relative;
    z-index: 2;
    margin-top: 0;
}

.pageTitle::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    border-top: solid 1px #d5d5d5;
    z-index: -1;
}

/* page title end */

/* cards */

.card {
    padding: 2.5px 10px;
    display: block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card.collapsible:hover {
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.collapsibleCard {
    cursor: pointer;
}

.collapsed {
    display: none;
    overflow: hidden;
}

/* .active, .collapsedCard:hover {
    background-color: #555;
} */