<footer>
    <nav class="f_navbar">
        <a class="favicon" href="mailto:g.papallo@damptp.ac.uk">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a class="favicon" href="https://github.com/giuppep">
            <i class="fa fa-github"></i>
        </a>
        <a class="favicon" href="https://www.linkedin.com/in/gpapallo">
            <i class="fa fa-linkedin-square"></i>
        </a>
        <a class="favicon" href="https://arxiv.org/a/papallo_g_1.html">
            <i class="ai ai-arxiv-square"></i>
        </a>
        <a class="favicon" href="https://inspirehep.net/author/profile/G.Papallo.1">
            <i class="ai ai-inspire-square"></i>
        </a>
        <a class="favicon" href="https://www.behance.net/giuseppe_papallo">
            <i class="fa fa-behance-square"></i>
        </a>
        <a class="favicon" href="https://www.instagram.com/giuppep">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="favicon" href="#">
            <i class="fa fa-twitter-square"></i>
        </a>
    </nav>
</footer>