<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="giuppep">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>

    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- Load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,300i,300b" rel="stylesheet">

    <!-- Load favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">{% seo %}
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"> -->
</head>
